
.nodequeue-suggestions-dragdrop tr.region-title td {
  font-weight: bold;
}
.nodequeue-suggestions-dragdrop tr.region-message {
  font-weight: normal;
  color: #999;
}
.nodequeue-suggestions-dragdrop tr.region-populated {
  display: none;
}
.nodequeue-suggestions-dragdrop .position {
  font-weight: bold;
  color: #999;
}